---
layout: archive
author_profile: true
---

{% include base_path %}

EmbeddedInn is the space where I will be uploading all  tutorials, experiment updates, tips tricks (and all other junk ) about all things embedded and related to system integration.<p/>

I will also be using this space to track what I did to get things running in all my weird experiments with all technical stuff that are of interest to me.<p/>

Visit the tutorials page to access my in-depth tutorials on various technical topics<p/>

<br/>
<br/>
<br/>
<br/>
<h4>Disclaimer:</h4>
 All posts and data in this site or any of my other publically available work reflects just my personal view points and has nothing to do with my employers at any point in time. Also, information and documents provided on this Web site are provided "as is" without warranty of any kind, either expressed or implied, including limitation warranties of merchantability, fitness for a particular purpose, and noninfringement.<p/>
<br/>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
