---
layout: archive
author_profile: true
---

{% include base_path %}

EmbeddedInn is the space where I will be uploading all  tutorials, experiment updates, tips tricks (and all other junk ) about all things embedded and related to system integration.

I will also be using this space to track what I did to get things running in all my weird experiments with all technical stuff that are of interest to me.

Visit the tutorials page to access my in-depth tutorials on various technical topics


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
